*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     background-color:rgb(183, 242, 87);
}

header
{
    display: flex;
    justify-content:space-between;
   
    margin-top: 4rem;
    background-color:rgb(183, 242, 87);
    box-shadow: 0px 0px 30px black;

}
header img
{
    
    height: 350px;
    width: 750px;
    margin-top: 2rem;
    margin-left: 6rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    box-shadow: 0px 0px 30px black;
    
}
header nav a
{
    text-decoration: none;
    font-size: 90px;
    margin-right: 10rem;
    font-weight: 600;
    color: rgb(6, 64, 6);
    font-family: "Wallpoet", sans-serif;

}
header nav
{
    margin-top: 10rem;
    
    

}
section
{
    background-image: url(./section2.jpg);
    background-size: cover;
    /* height: 1875px; */

}
section p
{
    
    position: absolute; 
    text-align: center;
    font-size: 139px;
    margin-top: 600px;
    color: rgb(6, 64, 6);
    margin-left: 1500px;
    font-weight: 800;
    line-height: 1.5;
    font-family: "Wallpoet", sans-serif;
}
marquee
{
    margin-top: 1800px;
    background-color: rgb(183, 242, 87);
}
marquee h3
{
    font-size: 80px;
    color: rgb(6, 64, 6);
    font-family: "Wallpoet", sans-serif;
}

 #foot
{
    
    margin-top: 7rem;
    margin-bottom: 7rem;
    margin-right: 20rem;
    margin-left:20rem ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
   
    
}
#foot div
{
    padding: 5rem;
}
 #foot div a
{
    font-size: 5rem;
    color: rgb(40, 143, 11);
    width: 5rem;
    
}
#foot div a i
{
    margin-top: 4rem;
}
#foot  div:hover
{
    transform: scale(1.1);
    transition: 0.5s ease;
    box-shadow: 0px 0px 90px rgb(2, 65, 11);
    border-radius: 3rem;
}
#foot div a i:hover
{
    transform: scale(1.5);
    transition: 0.5s ease;
    color: rgb(1, 10, 1);
}
#foot div a:hover
{
    
    color: rgb(1, 10, 1);
}





 @media (max-width : 750px)
{
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(183, 242, 87);
}
header
{
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
    background-color:rgb(183, 242, 87);
    box-shadow: 0px 0px 30px black;
   
}
header img
{
   
    display: none;
    
}
section p
{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color: rgb(6, 64, 6);
    margin-left: 20px;
    font-weight: 0rem;
    line-height: 1.5;
    font-family: "Wallpoet", sans-serif;
}
header nav a
{
    text-decoration: none;
    font-size: 9px;
    margin-right: 8px;
    font-weight: 0rem;
    color: rgb(6, 64, 6);
    font-family: "Wallpoet", sans-serif;

}
header nav
{
    margin-top: 10px;
   
}
section
{
    background-image: url(./section2.jpg);
    background-size: cover;
  
    height: 150px;
    
} 
section p
{
    
    position: absolute;
    text-align: center;
    font-size: 10px;
    margin-top: 50px;
    color: rgb(6, 64, 6);
    margin-left: 90px;
    font-weight: 80;
    line-height: 1.5;
    font-family: "Wallpoet", sans-serif;
}
marquee
{
    margin-top: 480px;
    background-color: rgb(183, 242, 87);
}
marquee h3
{
    font-size: 20px;
    color: rgb(6, 64, 6);
    font-family: "Wallpoet", sans-serif;
}

#foot
{
    
    margin-top: 30px;
    margin-bottom: 7px;
    margin-right: 20px;
    margin-left:20px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
   
    
}
#foot div
{
    padding: 5px;
}
#foot div a
{
    font-size: 15px;
    color: rgb(40, 143, 11);
    width: 50px;
    
}
#foot div a i
{
    margin-top: 20px;
}
#foot  div:hover
{
    transform: scale(1.1);
    transition: 0.5s ease;
    box-shadow: 0px 0px 90px rgb(2, 65, 11);
    border-radius: 3rem;
}
#foot div a i:hover
{
    transform: scale(1.1);
    transition: 0.5s ease;
    color: rgb(1, 10, 1);
}
#foot div a:hover
{
    
    color: rgb(1, 10, 1);
}

} 
   